.ipynb_checkpoints/
demo_keypoints.npy
evaluation/__cache__/
fixed_evaluation.py
inference/__cache__/
keypoints.h5
keypoints_cleaned.h5
models/__pycache__/
models/lsa_t/
models/lsa_t_improved/
nan_analysis/
quick_debug_predictions.py
results/
test_diverse_generation.py
test_full_sequences.py
training/__pycache__/
utils/__pycache__/
checkpoints/
